.project-logo {
  margin-top: 100px;
  text-align: center;
}

.search-box {
  height: calc(100vh - 53px - 68px - 100px - 30px); /** navbar, hidden bar, logo, search margin **/
  margin-top: 30px;
  text-align: center;
}

.search-box > input {
  background-color: #FFFFFF7A;
  border-radius: 8px;
  border: 1px solid #558B2F;
  color: #558B2F;
  height: 50px;
  outline: none;
  padding: 10px;
  width: 300px;
}

.search-box > input.search-valid {
  background-color: #33691E7A;
  color: #ffffff;
}

